/* Default Colors

background-color: rgb(236, 253, 245);
background-color: rgb(209, 250, 229);
background-color: rgb(167, 243, 208);
background-color: rgb(110, 231, 183); 
background-color: rgb(52, 211, 153); 
background-color: rgb(16, 185, 129);
background-color: rgb(5, 150, 105); 
background-color: rgb(4, 120, 87);
background-color: rgb(6, 95, 70);
background-color: rgb(6, 78, 59);
background-color: rgb(2, 44, 34);

*/
 
/* DEFAULT STYLES FOR ALL ELEMENTS */
* {
    font-family: 'Oswald', sans-serif;
    color: rgb(110, 231, 183);
    box-sizing: border-box;
}

/* MAKING THE SCROLL NICE AND SMOOTH */
html {
    scroll-behavior: smooth;
}

/* BODY STYLES */
body {
    margin: 0 auto;
    padding: 0;
    background-color: black;
}

/* ANIMATION FOR SOFTWARE ENGINEER TITLE */
@keyframes background-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}

#Languages h1 {
    font-size: 50px;
}

svg {
    filter: invert(99%) sepia(74%) saturate(1458%) hue-rotate(82deg) brightness(95%) contrast(89%);
}

/* NAVBAR STYLING */
.navbar {
    /* background: linear-gradient(to right,rgb(52, 211, 153),rgb(110, 231, 183), rgba(255, 255, 255, .8)); */
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    color: white;
}


.top {
    display: none;
}
.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}


/* MAIN SECTION STYLING */

.section1 {
    /* border: 1px solid red; */
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    z-index: -1;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.section1 h1 {
color: white;
font-size: 3rem;
margin: 0;
padding: 0;
}
.section1 .matrix {
    animation: background-pan 4s linear infinite;
    margin: 0 auto;
    font-size: 3rem;
    background: linear-gradient(to right,rgb(52, 211, 153),rgb(110, 231, 183), rgba(255, 255, 255, .9));
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}
.s1,.s2,.s3,.s4 {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s1, .s3 {
    background-color: rgb(110, 231, 183);
}

.s1 h1 {
    color: black;
}

.s3 h1 {
    color: black;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

/* HAMBURGER ICON */
.toggle-button {
    position: fixed;
    top: 1.3em;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
}

.lock-scroll {
    overflow: hidden;
}

.show {
    display: none;
}

.outer {
    width: 80%;
    /* outline: 1px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 200ms ease-in-out;
}

.foodle {
    background-image: url(../assets/Foodle.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.twisted {
    background-image: url(../assets/twisted.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.adventure {
    background-image: url(../assets/adventure.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.fitfolio {
    background-image: url(../assets/fitfolio.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.foodle:hover {
opacity: .7;
}

.display {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 0 auto;
    padding: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* outline: 2px green solid; */
    transition: 200ms ease-in-out;
}
.top {
    position: fixed;
    bottom: 1rem;
    display: none;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    padding: 1rem;
    border-radius: 10px;
    background-color: rgba(6, 78, 59, .3);
    outline: none;
}

/* LANGUAGES SECTION */


.card   {
    height: 60%;
    width: 30%;
    background-color: black;
    border-radius: 10px;
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card img {
    width: 80px;
    height: 80px;
    padding: .2rem;
    transform: translate(30px);
}

.github {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(324deg) brightness(107%) contrast(101%);
    width: 100px;
}

.project {
    background-color: rgb(110, 231, 183);
    width: 20%;
    margin: 20px;
}

.projects-title h1 {
    font-size: 50px;
    margin-right: 10px;

}

.languages-title h1 {
    margin-left: 10px;
}


.card img:hover {
    scale: 1.1;
}

.image p {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* MEDIA QUERY FOR PHONE SCREENS */
@media (max-width: 500px) {
    .navbar a {
        font-size: 10px;
    }

    #top h1 {
        font-size: 2rem;
    }
    .section1 .matrix {
        font-size: 2rem;
    }

    .toggle-button {
        display: flex;
        justify-content: space-between;
    }
    .site-title {
        position: fixed;
        left: 1rem;
        top: 1.3rem;
        color: white;
    }

    .navbar-links {
        display: none;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        /* border: 1px solid red; */
        
    }
    .navbar.active {
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, .7);
        backdrop-filter: blur(2px);
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
        position: relative;
        top: 60px;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
        font-size: 40px;
    }

    .navbar-links.active {
        display: flex;
    }

    .top {
        position: fixed;
        bottom: 1rem;
        display: none;
        left: 50%;
        transform: translateX(-50%);
        text-decoration: none;
        padding: 1rem;
        border-radius: 10px;
        background-color: rgba(6, 78, 59, .3);
        outline: none;
    }

    .show {
        display: none;
    }
    .outer {
        width: 80%;
        /* outline: 1px solid blue; */
    }
    .inner {
        width: 100%;
        /* outline: 1px solid red; */
        padding: 1rem;
    }

   
    .inner-container li {
        list-style: none;
    }
    .inner-container {
        display: none;
    }
    .display {
        display: flex;
    }

    .s1,.s2,.s3,.s4 {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

   .s1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
   }

   .s2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }
   .card {
    width: 100%;
    height: 100%;
    border-radius: 0;
    margin: 0;
   }

   .languages-title h1 {
    margin: 0;
    background-color: black;
    color: white;
}
.projects-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


}

@media (max-width: 490px) {
    #top h1 {
        font-size: 1.5rem;
    }
    .section1 .matrix {
        font-size: 1.5rem;
    }
  
    .top {
        position: fixed;
        bottom: 1rem;
        display: none;
        left: 50%;
        transform: translateX(-50%);
        text-decoration: none;
        padding: 1rem;
        border-radius: 10px;
        background-color: rgba(6, 78, 59, .3);
        outline: none;
    }
    .show {
        display: none;
    }
    .outer {
        width: 80%;
        /* outline: 1px solid blue; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 200ms ease-in-out;
    }
    .inner {
        width: 100%;
        /* outline: 1px solid red; */
        background-color: rgba(6, 78, 59, .3);
        transition: 200ms ease-in-out;
    }

   
    .inner-container img {
        list-style: none;
        width: 70%;
        padding: .5rem;
    }
    .inner-container {
        display: none;
        width: 100%;
        overflow: hidden;
        padding: 0;
        transition: 200ms ease-in-out;

    }
    .display {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin: 0 auto;
        padding: 0;
        width: 100%;
        justify-content: center;
        align-items: center;
        /* outline: 2px green solid; */
        transition: 200ms ease-in-out;
    }


}
