/* Default Colors

background-color: rgb(236, 253, 245);
background-color: rgb(209, 250, 229);
background-color: rgb(167, 243, 208);
background-color: rgb(110, 231, 183); 
background-color: rgb(52, 211, 153); 
background-color: rgb(16, 185, 129);
background-color: rgb(5, 150, 105); 
background-color: rgb(4, 120, 87);
background-color: rgb(6, 95, 70);
background-color: rgb(6, 78, 59);
background-color: rgb(2, 44, 34);

*/
 
/* DEFAULT STYLES FOR ALL ELEMENTS */
* {
    font-family: 'Oswald', sans-serif;
    color: rgb(110, 231, 183);
    box-sizing: border-box;
}

/* MAKING THE SCROLL NICE AND SMOOTH */
html {
    scroll-behavior: smooth;
}

/* BODY STYLES */
body {
    margin: 0 auto;
    padding: 0;
    background-color: black;
}

/* ANIMATION FOR SOFTWARE ENGINEER TITLE */
@keyframes background-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}

/* NAVBAR STYLING */
.navbar {
    /* background: linear-gradient(to right,rgb(52, 211, 153),rgb(110, 231, 183), rgba(255, 255, 255, .8)); */
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}



/* MAIN SECTION STYLING */
#top p {
    font-size: 3rem;
}
.section1 {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section1 h1 {
font-size: 3rem;
margin: 0 auto;
padding: 0;
}
.section1 span {
    font-size: 1.5rem;
}
.section1 .matrix {
    animation: background-pan 4s linear infinite;
    margin: 0 auto;
    font-size: 3rem;
    background: linear-gradient(to right,rgb(52, 211, 153),rgb(110, 231, 183), rgba(255, 255, 255, .9));
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}
.s1,.s2,.s3,.s4 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#top h1 {
    color: white;
    font-size: 5rem;
}

/* HAMBURGER ICON */
.toggle-button {
    position: fixed;
    top: 1.3em;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
}


/* MEDIA QUERY FOR PHONE SCREENS */
@media (max-width: 500px) {
    .navbar a {
        font-size: 10px;
    }

    #top h1 {
        font-size: 3rem;
    }
    .section1 .matrix {
        font-size: 1.5rem;
    }

    #top p {
        font-size: 1.5rem;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        /* border: 1px solid red; */
    }
    .navbar.active {
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, .5);
        backdrop-filter: blur(2px);
    
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
        position: relative;
        top: 60px;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
        font-size: 40px;
    }

    .navbar-links.active {
        display: flex;
    }

}
